.vscode/
*.pyc
gem5/build/
gem5/parsetab.py
llvm/build/
llvm/utils/
plugin-llvm-gold/build/
plugin-llvm-gold/backup/
work/benchmarks/MiBench/basicmath-CCF/basicmath13-default/CGRAExec/
work/benchmarks/MiBench/basicmath-CCF/basicmath13-default/*.ll
work/benchmarks/MiBench/basicmath-CCF/basicmath13/*.ll
work/benchmarks/MiBench/basicmath-CCF/basicmath13/basicmath_small
work/benchmarks/MiBench/basicmath-CCF/basicmath13/test.csv
work/benchmarks/MiBench/basicmath-CCF/basicmath13/CGRAExec/
InstructionGenerator/insgen
RAMP/DFGFiles/edgefile
RAMP/DFGFiles/nodefile
RAMP/Release/src/
RAMP/Release/RAMP
*~
*.run
*.so
*.sch
*.bin
*/m5out/
